{% extends "base.html.twig" %}

{% block body %}
<div class="col-lg-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">Add new song</div>
        <div class="panel-body">
            <form action="{{ path('song_add') }}" method="post">
                <fieldset>
                    {# <legend>Legend</legend> #}
                    <div class="form-group">
                        <label for="artist_group">
                            Artist / Group
                            <span id="nb_artists_founds"></span>
                            <i style="display:none;" class="spin-artist fa fa-spinner fa-spin"></i>
                        </label>
                        <input type="text"
                               name="artist_name"
                               class="form-control"
                               id="artist_group"
                               placeholder="Artist / Group"
                               autocomplete="off"
                               typeahead-editable="false"/>
                        <input type="hidden" id="artist_id" name="artist_id" value="" />
                    </div>
                    <div class="form-group">
                        <label for="song">
                            Song
                            <span id="nb_songs_found"></span>
                            <i style="display:none;" class="spin-song fa fa-spinner fa-spin"></i>
                        </label>
                        <input type="text"
                               name="song_name"
                               class="form-control"
                               id="song" placeholder="Song"
                               autocomplete="off"
                               typeahead-editable="false"
                               disabled />
                        <input type="hidden" id="release_id" name="release_id" value="" />
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
    {{ parent() }}
    <script src="{{ asset('js/typeahead.bundle.min.js') }}"></script>
    <script>
        jQuery(document).ready(function() {

          /**********************
           * Field artist       *
           * *******************/
          var artists = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('results.name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            limit: Number.MAX_VALUE,
            remote: {
              ttl: 0,
              cache: false,
              url: '/autocomplete/artist_group/%QUERY',
              wildcard: '%QUERY',
              filter: function(response) {
                $('#nb_artists_founds').html('('+response.total+')');
                return response.results;
              }
            }
          });
          artists.initialize();

          $('#artist_group')
            .typeahead({
                hint: false,
                highlight: true,
                minLength: 2,
                delay: 400,
                limit: Infinity
            }, {
                name: 'artists',
                source: artists.ttAdapter(),
                limit: 150,
                displayKey: function (results) {
                  return results.name;
                },
            })
            .bind('typeahead:asyncrequest', function() {
              $('#artist_id, #song').val(null);
              $('#song').attr('disabled', 'disabled');
              $('.spin-artist').show();
            })
            .bind('typeahead:asyncreceive', function() {
              $('.spin-artist').hide();
            })
            .bind('typeahead:select', function(ev, suggestion) {
              $('#artist_id').val(suggestion.id);
              $('#song').removeAttr('disabled');
              $('#nb_artists_founds').html('');
            });

          /**********************
           * Field songs        *
           * *******************/
          var songs = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('track'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            limit: Number.MAX_VALUE,
            remote: {
              ttl: 0,
              cache: false,
              url: '/autocomplete/artist/',
              replace: function (url, query) {
                return url + $('#artist_id').val() + '/songs/' + query
              },
              filter: function(response) {
                $('#nb_songs_found').html('('+response.total+')');
                return response.results;
              }
            }
          });
          songs.initialize();

          $('#song')
            .typeahead({
              hint: false,
              highlight: true,
              minLength: 2,
              delay: 400,
              limit: Infinity
            }, {
              name: 'songs',
              source: songs.ttAdapter(),
              limit: 150,
              displayKey: function (results) {
                return results.track;
              },
            })
            .bind('typeahead:asyncrequest', function() {
              $('.spin-song').show();
            })
            .bind('typeahead:asyncreceive', function() {
              $('.spin-song').hide();
            })
            .bind('typeahead:select', function(ev, suggestion) {
              $('#release_id').val(suggestion.id);
            });

        });
    </script>
{% endblock %}