{% extends "base.html.twig" %}


{% block body %}
    <div class="col-lg-6 col-md-offset-3">
        <div class="panel panel-default" id="forms2">
            <div class="panel-heading">Add new song</div>
            <div class="panel-body">
                <form action="{{ path('song_add') }}" method="post">
                    <fieldset>
                        {# <legend>Legend</legend>#}
                        <div class="form-group">
                            <label for="artist_group">Artist / Group</label>
                            <input type="text"
                                   class="form-control"
                                   id="artist_group"
                                   placeholder="Artist / Group"
                                   autocomplete="off"/>
                            <input type="hidden" id="artist_id" name="artist_id" value="" />
                        </div>
                        <div class="form-group">
                            <label for="song">Song</label>
                            <input type="text"
                                   class="form-control"
                                   id="song" placeholder="Song"
                                   autocomplete="off"
                                   disabled />
                            <input type="hidden" id="song_id" name="song_id" value="" />
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}



{% block js %}
    {{ parent() }}
    <script>
        var objects = [];
        var map = {};

        jQuery(document).ready(function() {
            //Autocomplete artist/group
            $('#artist_group').typeahead({
                hint: false,
                highlight: true,
                minLength: 1,
                source: function (query, process) {
                    $('#artist_id, #song').val(null);
                    $('#song').attr('disabled', 'disabled');

                    return $.get('/autocomplete/artist_group/' + query, function (data) {
                        objects = [];
                        $.each(data.results, function(i, object) {
                          map[object.name] = object;
                            objects.push(object.name);
                        });
                        process(objects);
                    });
                },
                updater: function(item) {
                    $('#artist_id').val(map[item].id);
                    $('#song').removeAttr('disabled');
                    return item;
                }
            });

            //Autocomplete song
            $('#song').typeahead({
                hint: false,
                highlight: true,
                minLength: 1,
                source: function (query, process) {
                    return $.get('/autocomplete/artist/'+$('#artist_id').val()+'/songs/'+query, function (data) {
                        objects = [];
                        $.each(data, function(i, object) {
                          map[object.track] = object;
                            objects.push(object.track);
                        });
                        process(objects);
                    });
                },
                updater: function(item) {
                    $('#song_id').val(map[item].id);
                    $('#song').removeAttr('disabled');
                    return item;
                }
            });
        })
    </script>
{% endblock %}