{% extends "base.html.twig" %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="inline">Gothiclist</h1>
                    gothic musical repertoire</p>
                    <p>Industrial - EBM - New Wave - Darkwave - Goth Rock - Gothic Metal - Synthwave - Synth-pop</p>
                    {% if not is_granted('ROLE_USER') %}
                        <span> Register to add songs, descriptions, votes, comments, ...</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% include 'parts/table_songs.html.twig' with {'songs': last_songs, 'title': 'Last songs'} only %}
    {# % include 'parts/table_songs.html.twig' with {'songs': most_rated_songs, 'title': 'Most rated songs'} only % #}
{% endblock %}
