{% extends "base.html.twig" %}

{% block body %}
    <div class="jumbotron" style="margin-top:-20px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1>Gothiclist</h1>
                    <p>The gothic musical repertoire</p>
                    <p>Industrial, EBM, New Wave, Darkwave, Goth Rock, Gothic Metal, Synthwave, Synth-pop</p>
                </div>
            </div>
        </div>
    </div>

    {% include 'parts/table_songs.html.twig' with {'songs': last_songs, 'title': 'Last songs'} only %}
    {% include 'parts/table_songs.html.twig' with {'songs': most_rated_songs, 'title': 'Most rated songs'} only %}
{% endblock %}
