{% extends "base.html.twig" %}

{% block body %}
    {# jumbotron #}
    {#
    <div class="jumbotron" style="margin-top:-20px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1>Gothiclist</h1>
                    <p>The gothic musical repertoire</p>
                    <p>Industrial, EBM, New Wave, Darkwave, Goth Rock, Gothic Metal, Synthwave, Synth-pop</p>
                </div>
            </div>
        </div>
    </div>
    #}


    {# Last songs #}
    <div class="panel panel-default">
        <div class="panel-heading">Last songs</div>
        <div class="panel-body">
            <div class="panel-group">
                {% include 'parts/table_songs.html.twig' with {'songs': last_songs, 'title': 'Last songs'} only %}
            </div>
        </div>
    </div>

    {# Top rated songs #}
    <div class="panel panel-default">
        <div class="panel-heading">Most voted songs</div>
        <div class="panel-body">
            <div class="panel-group">
                {% include 'parts/table_songs.html.twig' with {'songs': last_songs, 'title': 'Most voted songs'} only %}
            </div>
        </div>
    </div>
{% endblock %}
