{% extends "base.html.twig" %}

{% block title %}{{ style.name }} songs{% endblock %}
{% block description %}Last {{ style.name }} added songs & favorites{% endblock %}

{% block body %}
    <div class="jumbotron" style="margin-top:-20px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1>{{ style.name }}</h1>
                </div>
            </div>
        </div>
    </div>

    {% include 'parts/table_songs.html.twig' with {'songs': last_songs, 'title': 'Last ' ~ style.name ~ ' songs'} only %}
    {% include 'parts/table_songs.html.twig' with {'songs': most_rated_songs, 'title': 'Most voted ' ~ style.name ~ ' songs'} only %}
{% endblock %}
