body {
  padding-top:70px;
  background-color: #1f1f1f;
}

.btn-success, .btn-danger {
  opacity: 0.8;
}
/*************** Navbar ***************/
.navbar-inverse {
  background-color: #1a1a1a;
  border-color: #000000;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #000000;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #1a1a1a !important;
}