<table class="table table-dark table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Artist</th>
        <th scope="col">Album</th>
        <th scope="col">By</th>
        <th scope="col">Votes</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for song in songs %}
        <tr>
            <td>{{ song.title }}</td>
            <td>{{ song.artist.name }}</td>
            <td>{{ song.release.title }}</td>
            <td>{% include 'parts/avatar.html.twig' with {'user': song.user} only %}</td>
            <td>
                {% include 'parts/vote.html.twig' with {
                    'id': song.id,
                    'type': 'song',
                    'user': song.user
                } only %}
                <span class="nbVotes">{{ song.nbVotes }}</span>
            </td>
            <td>
                <a href="#" data-toggle="modal" data-target=".youtube-dialog">
                    <i class="fa fa-youtube-play fa-lg"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>